.portfolio{
    margin-top: 2%;
    padding-bottom: 1.5%;
    transition: var(--transition);
}

.project-head{
    color: var(--color-bg);
    margin: 2.5%;
    font-size: 2rem;
}

.project-container{
    display: flex;
    width: 100%;
    margin: 2%;
    justify-items: center;
    gap: 4%;
}

.projects{
    width: 45%;
}

.project{
    width: 100%;
    border-radius: 4%;
}

@media screen and (max-width: 1024px) {
    .portfolio{
        width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    .portfolio{
        width: 97%;
        padding-bottom: 7%;

    }

    .project-container{
        gap: 6vw;
    }

    .project-head{
        width: 97%;
        font-size: 1.5rem;
    }

    .project-container {
        width: 95%;
        gap: 10%;
        margin: 1.2%;
    }
}