nav{
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 2%;
    z-index: 2;
    margin-top: -5%;
    position: fixed;
    padding: 1.5%;
    background-color: var(--color-white);
    transition: var(--transition);
}

.logoitems{
    display: flex;
    align-items: center;
    gap: 0.5%;
    width: 45%;
}

.logo{
    width: 10%;
    border-radius: 50%;
    box-shadow: 8px var(--color-black);
    margin-left: 5%;
    border: 3px solid rgb(243, 240, 240);
}

.cmonline{
    width: 8%;
    font-size: 1rem;
}

.headnav{
    width: 45vw;
    display: flex;
    gap: 10%;
    justify-content: right;
}

a:link{
    cursor: pointer;
}

a,h3{
    color: var(--color-bg);
}



.mobile-nav{
    display: none;
}

@media screen and (max-width: 1024px) {
    nav{
        width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    nav{
        width: 100%;
        position: fixed;
        margin-top: -15%;
        gap: 4vw;
    }

    .headnav{
        display: none;
    }

    .cmonline{
        font-size: 80%;
    }

    .logo-items{
        width: 45vw;
    }

    .logo{
        width: 25%;
    }

    .mobile-nav{
        width: 50vw;
        display: flex;
        align-items: le;
    }
}